apiVersion: apps/v1
kind: Deployment
metadata:
  name: batch
  namespace: troubleshoot-adv
spec:
  replicas: 2
  selector:
    matchLabels:
      app: batch
  template:
    metadata:
      labels:
        app: batch
    spec:
      nodeSelector:
        kubernetes.io/os: linux
        node.kubernetes.io/role: worker
      containers:
        - name: busybox
          image: busybox:1.36
          command: ["sleep", "3600"]
