apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeport-demo
  namespace: cka-koans
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodeport-demo
  template:
    metadata:
      labels:
        app: nodeport-demo
    spec:
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80
