apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-koans
  namespace: cka-koans
  labels:
    app: web-koans
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: web-koans
  template:
    metadata:
      labels:
        app: web-koans
    spec:
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80
