apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: troubleshoot-adv
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 0
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: nginx:1.25-typo
          ports:
            - containerPort: 80
